@tailwind components;
@tailwind utilities;
/* Defaults */
:root {
	--font-family: "Inter", -apple-system, BlinkMacSystemFont, system-ui,
		sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
	--font-size-body: 16px;
	--font-size-mono: 15px;
	--font-size-small: 13px;
	--font-size-h1: 1.625rem;
	--font-size-h2: 1.3125rem;
	--font-size-h3: 1.125rem;
	--font-size-h4: 1rem;

	--font-weight-bold: 500;
	--font-weight-normal: 400;

	--line-height: 1.5;

	--radius: 0.25rem;
	--radius-tag: 1rem;

	--width: 700px;
}

@supports (font-variation-settings: normal) {
	:root {
		--font-family: "Inter var", -apple-system, BlinkMacSystemFont, system-ui,
			sans-serif;
		--font-weight-bold: 480;
		--font-weight-normal: 380;
	}
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--color-white: #fefefa;
	--color-background: var(--color-white);

	--color-offset: #eee;
	--color-faded: #555;

	--color-blue: #1438ff;
	--color-blue-light: #08afff;

	--color-yellow: #ffc814;
	--color-yellow-dark: #0d0a01;

	--text-color: var(--color-gray-90);
	--text-color-link: var(--color-blue);
	--text-color-link-active: var(--color-blue);
	--text-color-link-visited: var(--color-blue);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #333;

		--color-background: rgb(21, 21, 21);

		--color-offset: #2a2a2a;
		--color-faded: #555;
		--color-gray: #767676;

		--text-color: #e5e5e5;
		--text-color-link: var(--color-blue-light);
		--text-color-link-active: var(--color-blue-light);
		--text-color-link-visited: var(--color-blue-light);
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0 auto;

	color: var(--text-color);
	background-color: var(--color-background);

	font-family: var(--font-family);
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-normal);
	line-height: var(--line-height);
}

.view {
	min-height: 100dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

html {
	overflow-y: scroll;
}

body {
	padding: 0em 0.6rem;
	max-width: 40rem;

	display: flex;
	flex-direction: column;
	min-height: 10dvh;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: var(--line-height);
	margin-block-end: 0.8rem;
	margin-block-start: 0;
}

a[href] {
	color: var(--text-color-link);
	transition: color 0.2s ease, transform 0.2s ease;
}

a[href]:hover {
	color: red;
}

a[href]:active {
	/* color: var(--text-color-link-active); */
	color: red;
}

main {
	padding: 0.8em 0.3em 0 0.3em;
	flex: 1;
	display: flex;
	flex-direction: column;
}

main :first-child {
	margin-top: 0;
}

/* Group the main content together */
.main-content {
	display: flex;
	flex-direction: column;
	margin-bottom: auto;
}

footer {
	/* margin-top: 1.6rem; */
	/* -top: 1px solid var(--color-offset); */
	color: var(--color-gray-50);
	text-align: center;
	font-size: var(--font-size-small);
	margin-bottom: 0.8rem;
}

footer a[href]:visited,
footer a[href]:hover,
footer a[href]:active,
footer a[href] {
	color: var(--color-gray-50);
}

.links-nextprev {
	margin: 1.6em 0 0 0;
	list-style: none;
	border-top: 2px solid var(--color-offset);
	padding-top: 0.8rem;
}

.nav-under-content {
	padding-top: 2.2rem;
	padding-bottom: 1.6rem;
	justify-content: center;
	display: flex;
}

table {
	margin: 0.8em 0;
}

table td,
table th {
	padding-right: 0.8rem;
}

pre,
code {
	font-family: var(--font-family-monospace);
	background-color: var(--color-offset);
}

pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375;
	/* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: none;
}

blockquote {
	font-style: italic;
	line-height: var(--line-height);
	margin-block-end: 0.8rem;
	margin-block-start: 0;
}

hr {
	border: 0;
	margin: 0;
}

/* Typography */
h1,
h2,
h3,
h4 {
	margin-block-start: 0.8rem;
	margin-block-end: 0.2rem;
}

h1 {
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-bold);
}

h2 {
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-bold);
}

h3 {
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-bold);
}

h4 {
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-bold);
}

b {
	font-weight: var(--font-weight-bold);
}

ul {
	margin-block-end: 0.8rem;
	margin-block-start: 0;
}

/* Custom list markers */
.now::marker,
.now-list ul li::marker {
	content: "ꨁ  ";
	color: red;
}

.always::marker,
.always-list ul li::marker {
	content: "ꨘ  ";
	color: red;
}

.contact-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	list-style: none;
	padding: 0;
}

/* Header */
header {
	padding: 0.8em 0 0.8em 0;
	transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	position: sticky;
	top: 0;
	background-color: var(--color-background);
	backdrop-filter: blur(8px);
}

.nav-hidden {
	top: -3rem;
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.home-link {
	font-size: 1rem;
	/* 16px /16 */
	color: var(--text-color) !important;
}

.home-link[aria-current="page"] {
	color: red !important;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

@media (max-width: 424px) {
	.home-link::before {
		content: "Daniel";
	}
}

@media (min-width: 425px) {
	.home-link::before {
		content: "Daniel Gális";
	}
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;

	justify-content: space-between;
}

.nav-item {
	display: inline-block;
	transition: transform 0.2s ease, color 0.2s ease;
	margin-right: 0.3rem;
}

.nav-item:hover {
	transform: translateY(-0.5px);
}

.nav-item a[href]:hover,
.nav-item a[href]:active {
	color: red;
}

.nav a[href][aria-current="page"] {
	text-decoration: underline;
	color: red !important;
}

/* Posts list */
.postlist {
	list-style: none;
	margin: 0.8em 0em 0.8em 0rem;
	padding: 0;
}

.postlist-item {
	counter-increment: start-from -1;
	margin: 1em 0em 1em 0rem;
}

.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}

.postlist-title {
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-normal);
	flex-basis: calc(100% - 1.5rem);
	padding-right: 0.5rem;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
	margin-bottom: 0.4rem;
}

.postlist-item-active .postlist-link {
	font-weight: var(--font-weight-bold);
}

.postlist-item > .metadata {
	margin-block-end: 0;
	background-color: transparent;
}

/* Project list */
.projectlist {
	list-style: none;
	margin: 1.5rem 0;
	padding: 0;
	row-gap: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: stretch;
}

.project-card > .metadata {
	border-top: 1px solid var(--color-offset);
	padding: 0.4em 0.2em 0em 0.2rem;
}

.project-title {
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-normal);
}

.project-description {
	margin-block-end: 0rem;
}

.project-emoji {
	white-space: pre;
}

.project-card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: baseline;
	justify-content: left;
	padding-bottom: 0.4rem;
	counter-increment: start-from -1;
}

/* Removed the top border hover effect */

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--text-color-link);
	padding: 0.1em 0.4rem;
	border-radius: var(--radius-tag);

	font-size: var(--font-size-body);
	text-decoration: none;
}

.button:active {
	text-decoration: underline;
	color: red !important;
	transform: translateY(0);
	box-shadow: 0 4px 10px rgba(20, 56, 255, 0.2);
}

.button-list {
	display: inline-flex;
	text-align: right;
	flex-wrap: wrap;
	list-style: none;
	gap: 0rem;
	padding: 0rem;
	margin-top: 0.4rem;
	margin-bottom: 0.8rem;
}

/* Tags */
.tag {
	display: inline-flex;
	align-items: center;
	justify-content: left;
}

.tag:hover {
	text-decoration: underline;
}

.text-tag {
	text-decoration: underline;
}

/* Tags list */
.tags-list {
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.8rem;
	justify-content: left;
}

.tags-list > .tag {
	font-size: var(--font-size-h3);
}

.arrow {
	color: red;
	text-decoration: none !important;
}

/* Metadata */
.metadata-tags {
	display: inline-flex;
	text-align: right;
	flex-wrap: wrap;
	gap: 0.2em 0.4rem;
	list-style: none;
	padding-left: 0;
	margin-block-end: 0;
}

.metadata {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;

	gap: 0.2em 0.8rem;

	list-style: none;
	margin: 0.8rem 0 0.8rem 0;
}

.metadata-date {
	font-weight: 300;
	line-height: 1.7;
}

.metadata-type {
	font-weight: 300;
	line-height: 1.7;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1rem;
	margin-left: 0.1rem;
}

a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}

a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5rem;
}

/* Post */
.post-title {
	font-size: var(--font-size-h1);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* iframe */
.iframe-container {
	position: relative;
}

.loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-iframe {
	border: none;

	margin-top: 0.8rem;
	margin-bottom: 0.8rem;

	/* opacity: 0; */
}

.homepage {
	display: flex;
	flex-direction: column;
	height: 100;
}

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;

	margin-top: 0.8rem;
	list-style: none;
	padding: 0;
	margin-left: -0.2rem;
	margin-right: -0.2rem;
}

.logo {
	flex: 1;
	height: 10%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	animation: fadeIn 60s infinite;
}

@keyframes fadeIn {
	0%,
	40% {
		opacity: 0;
	}

	90% {
		opacity: 0.2;
	}

	99.79% {
		opacity: 1;
	}

	99.8% {
		opacity: 0;
	}

	99.85% {
		opacity: 0;
	}

	99.86%,
	100% {
		opacity: 1;
	}
}

.red-filter {
	z-index: 50;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: red;
	opacity: 30%;
	left: 0;
	top: 0;
	pointer-events: none;
}

.collaborator {
	padding: 0.1em 0.4rem;
}
