---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: "#{{ tag }}"
permalink: /tags/{{ tag | slugify }}/
---
<h1>#{{ tag }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

{% set urls = tagMapping[tag] %}
{% for url in urls %}
  {# <div class="iframe-container">
    <div class="loading">Loading Are.na...</div> 
    <iframe class="my-iframe" src="{{ url }}/embed" width="100%" height="560px"></iframe>
  </div> #}
  
  <iframe class="my-iframe" src="{{ url }}/embed" width="100%" height="560px"></iframe>
{% endfor %}

<p>See <a href="/tags/">all tags</a>.</p>
