---
permalink: /tags/
layout: layouts/home.njk
---

<ol class="tags-list">
{% for tag in collections.all | getAllTags | filterTagList | sort %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="tag">#{{ tag }}</a>
{% endfor %}
</ol>