---
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Tags
  order: 3
---
<h1>Tags</h1>

<ol class="tags-list">
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="tag">#{{ tag }}</a>
{% endfor %}
</ol>