/* Custom styles for .now and .always classes */
.now::marker {
	content: "ꨁ  ";
	color: red;
}

.always::marker {
	content: "ꨘ  ";
	color: red;
}

/* Contact list spacing */
.contact-list {
	margin-top: 0.6rem;
}

/* Additional custom styles can go here */
