---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---

<h1>
  {# logo before greeting
  <img style="display:inline-block; border-radius: 0" width="auto" height="24.5" src="/logo.svg" alt=""></img> 
  #}
  Hi! I'm Daniel.
</h1>
<p>
  I'm a designer (researcher, developer) creating digital tools that empower individuals and communities.
</p>
<p>
  Interested in nurturing good habits (<a href="tags/rituals" class="tag">#rituals</a>), keeping a <a href="tags/second-brain" class="tag">#second-brain</a>, calm technology, thinking through making, and beautiful <a href="tags/computers" class="tag">#computers</a>.
</p>
<p>
  No matter what I do - I am always community-driven. That is the most truthful way to describe my ambitions in every pursuit.
</p>
<span><b>Now:</b></span>
<ul>
  <li class="now">
    living in <a href="https://www.are.na/daniel-galis/brno-ohi23f4rocs">Brno</a>, Czech Republic
  </li>
  <li class="now">
    studying design at <a href="https://www.favu.vut.cz/en/studios/graphic-design-1">AGD1</a> (also called <a href="https://agdx.info">AGDX</a>), part of <a href="https://www.favu.vut.cz/en/">FaVU</a>
  </li>
  <li class="now">
    working on my bachelor thesis - a calm handheld computer for preteens (and everyone else) - so far I'm calling it <a href="https://www.are.na/daniel-galis/mac-sd4acf6ekso">MačOS</a>
  </li>
  <li class="now">
    designing the latest issue(s) of <a href="https://bublina.favu.vut.cz/">Bublina and Bublinka</a>
  </li>
  <li class="now">
    reading <a href="https://www.are.na/daniel-galis/papanek-victor-design-for-the-real-world">Design for the Real World</a> by Victor Papanek (and much more)
  </li>
  <li class="now">
    just joined <a href="https://lotuscollective.online/">lotus collective</a>
  </li>
</ul>
<span><b>Always:</b></span>
<ul>
  <li class="always">swimming in lakes, even if they're cold</li>
  <li class="always">
    reflecting my <a href="https://are.na/daniel-galis/human-tech-mhdluizelnk">relationship to technology</a> (<a href="https://www.are.na/daniel-galis/new-phone-who-dis-iiy0tsqe8nm">especially my phone</a>)
  </li>
  <li class="always">journaling and writing</li>
  <li class="always">excited to meet like-minded people and collaborate</li>
</ul>
<ul class="contact">
  <li>
    <a href="mailto:danielgalis21@gmail.com">E-mail</a>
  </li>
  <li>
    <a href="https://are.na/daniel-galis">Are.na</a>
  </li>
  <li>
    <a href="https://github.com/mstcgalis">GitHub</a>
  </li>
  <li>
    <a href="https://discordapp.com/users/147823743882756096">Discord</a>
  </li>
  <li>
    <a href="https://www.instagram.com/mstc_al/">Instagram</a>
  </li>
</ul>
{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Thinking</h1>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}
{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
  <p>
    See all <a href="/posts/">Posts</a>.
  </p>
{% endif %} #}
{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>{%- endfor %}
</ul>
#}
