<div class="projectlist">
  {% for project in projectlist | reverse %}
    <article href="{{ project.data.research }}" class="project-card group relative">
      {% if project.data.image or project.data.video %}
        <div class="background-gallery fixed flex justify-between inset-0 w-screen h-screen opacity-0 group-hover:opacity-100 transition-opacity duration-200 -z-10">
          {% if project.data.video %}
            {% for video in project.data.video %}
            <video class="h-full w-full object-cover" autoplay loop muted controls="false">
              <source src="{{ video }}" type="video/mp4">
            </video>
            {% endfor %}
          {% endif %}
          {% if project.data.image %}
            {% for img in project.data.image %}
            <img class="h-full object-cover" src="{{ img }}" alt="{{ project.data.title }} background image">
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      <div class="relative">
        <span>{{ project.data.emoji }} <a href="{{ project.url }}" class="project-title">{{ project.data.title }}</a></span>
        <p class="project-description">{{ project.data.description }}</p>
        <ul class="button-list">
          {%- for label, link in project.data.links %}
            <li class="button">
              <span class="arrow mr-1 hover:no-underline">↗</span><a class="hover:underline no-underline"
     href="{{ link }}"
     target="_blank"
     rel="noopener noreferrer">{{ label }}</a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    </article>
  {% endfor %}
</div>
