<div class="projectlist">
{% for project in projectlist | reverse %}
  <article href=" {{ project.data.research }}" class="project-card">
    <span>{{ project.data.emoji }} <a href="{{ project.url }}" class="project-title">{{ project.data.title }}</a></span>
    {# {% if project.data.image %}<img class="projectlist-image" src="{{ project.data.image }}" alt="🔑">{% endif %} #}
    <p>{{ project.data.description }}</p>
    <ul class="button-list">
      {%- for label, link in project.data.links %}
      <li><a class="button" href="{{ link }}" target="_blank">↗ {{ label }}</a></li>
      {%- endfor %}
    </ul>
    {# <div class="metadata">
      <ul class="metadata-tags">
        {%- for tag in project.data.tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li><a href="{{ tagUrl }}" class="tag">#{{ tag }}</a></li>
        {%- endfor %}
      </ul>
      <time class="metadata-date" datetime="{{ project.date }}">{{ project.data.year }}</time>
    </div> #}
  </article>
{% endfor %}
</div>