---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1 class="post-title">{{ title }}</h1>

<div class="metadata">
	<time class="metadata-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("yyyy-MM-dd ccc") | upper }}</time>
	<ul class="metadata-tags">
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="tag">#{{ tag }}</a></li>
		{%- endfor %}
	</ul>
</div>
<hr>

{#-- The content of the page #}

{{ content | safe }}

{# random post button #}
{%- if collections.posts %}
  {%- set randomPost = collections.posts | getRandomPost(page, categories) %}
	<div class="nav-under-content">
		<p>
			<a href="{{ randomPost.url }}">Random Post</a>. 
			See all <a href="/posts/">Posts</a>.
		</p>
	</div>
{%- endif %}


{# next and previous post buttons #}
{# {%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>← <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>→ <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %} #}
