---
layout: layouts/base.njk
---
<h1 class="post-title">{{ emoji }} {{ title }}</h1>
<div class="metadata">
  <ul class="metadata-tags">
    {%- for tag in tags | filterTagList %}
      {%- set tagUrl %}/tags/{{ tag | slugify }}/
      {% endset %}
      <li>
        <a href="{{ tagUrl }}" class="tag">#{{ tag }}</a>
      </li>
    {%- endfor %}
  </ul>
  <span class="metadata-date">{{ year }}</span>
</div>
<hr>
<ul class="button-list mb-0">
  {%- for label, link in links %}
    <li class="button">
      <span class="arrow mr-1 hover:no-underline">↗</span><a class="hover:underline no-underline"
   href="{{ link }}"
   target="_blank">{{ label }}</a>
    </li>
  {%- endfor %}
</ul>
<hr>
{#-- The content of the page #}
{{ content | safe }}
{# random project button #}
{# {% if image %}<img class="ist-image" src="{{ image }}" alt={{ emoji }}>{% endif %} #}
{%- if collections.projects %}
  {%- set projectUrls = collections.projects | mapPageUrls %}
  <div class="nav-under-content">
    <p>
      <a id="randomButton" href="#" data-urls='{{ projectUrls | toJson }}'>Random Project</a>.
      See all <a href="/projects/">Projects</a>.
    </p>
    <script src="/js/randomPage.js"></script>
  </div>
{%- endif %}
